<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li>Krilling - 700</li>
            <li>Goku - 15,000</li>
            <li>Vegeta - 8,500</li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <!-- 
        Se usa ngSubmit para no recargar toda la pagina. 
        Se usa [ngModel]   para one way dataBinding. de TS a HTML.
        Se usa [(ngModel)] para two way databinding. de TS a HTML y HTML a TS
        Al usar ngModel, es obligatorio poner el atributo name para bindear la propiedad
        -->
        <form (ngSubmit)="agregar()">
            <input 
                type="text"
                placeholder="Nombre"
                name="nombre"
                [(ngModel)]="nuevo.nombre"
            />
            <input 
                type="number"
                placeholder="Poder"
                name="poder"
                [(ngModel)]="nuevo.poder"
            />
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>
